.a {
	display: flex;
	height: 100vh;
	background: var(--bg-primary);
}

.a-left {
	flex: 1;
	display: flex;
	align-items: center;
}
.a-left-wrap {
	padding: 3rem;
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.a-intro {
	font-size: 2rem;
	font-weight: 400;
	color: var(--text-primary);
}

.a-name {
	font-size: 5rem;
	color: var(--text-highlight);
}

.a-title {
	height: 4rem;
	overflow: hidden;
}

.a-title-wrap {
	height: 100%;
	animation: move 8s ease-in-out infinite alternate;
}

@keyframes move {
	33% {
		transform: translateY(-100%);
	}
	66% {
		transform: translateY(-200%);
	}
	100% {
		transform: translateY(-300%);
	}
}
.a-title-item {
	color: var(--text-primary);
	height: 4rem;
	font-size: 2rem;
	font-weight: bold;
	display: flex;
	align-items: center;
}
.a-right {
	flex: 1;
	position: relative;
	vertical-align: middle;
}

.pic-border {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin-right: 1rem;
}
.headshot {
	width: 100%;
	align-items: center;
	object-fit: cover;
}

.quote {
	margin-top: 0.5rem;
	text-align: center;
	font-size: 1.6rem;
	font-weight: 500;
	color: var(--text-highlight);
}

.a-desc {
	font-size: 1.2rem;
	color: var(--text-primary);
	font-size: italics;
}

.cfm-link {
	text-decoration: none;
	color: var(--text-sidebar);
}
.cfm-link:hover {
	text-decoration: underline;
}
