:root {
	font-size: 16px;
	--text-primary: #202a38;
	--text-secondary: #475569;
	--bg-primary: #839cbe;
	--bg-secondary: #475569;
	--transition-speed: 600ms;
}

body {
	margin: 0;
	padding: 0;
}
body::-webkit-scrollbar {
	width: 0.3rem;
}
body::-webkit-scrollbar-track {
	background: var(--bg-primary);
}

body::-webkit-scrollbar-thumb {
	background: var(--text-primary);
}

.content {
	margin-left: 5rem;
}

@media only screen and (max-width: 600px) {
	.content {
		margin-left: 0;
	}
}
