.footer {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	height: 5rem;
	/* background-color: var(--bg-primary); */
	background-color: black;
	color: var(--text-primary);
}
.copyright {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.modified {
	display: flex;
	align-items: center;
	justify-content: center;
}
.author {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
