.m {
	/* height: 95vh; */
	/* width: 100%; */
	background: var(--bg-secondary);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* padding: 3rem; */
}

.carousel {
	display: flex;
	justify-content: center;
}

.carousel .slide {
	height: 80vh;
	/* object-fit: contain; */
	/* height: 100%; */
}

.carousel .slide img {
	/* object-fit: contain; */
	max-height: 100%;
	width: auto;
}

.image {
	margin: 0 auto;
	height: 100%;
	width: auto;
}
