.sidebar {
	position: fixed;
	background-color: var(--bg-sidebar);
	transition: width 200ms ease;
}

.sidebar-nav {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}
.nav-item {
	width: 100%;
}

.nav-item:last-child {
	margin-top: auto;
}

.nav-link {
	display: flex;
	align-items: center;
	height: 5rem;
	text-decoration: none;
	transition: var(--transition-speed);
}

.link-text {
	display: none;
	margin-left: 1rem;
	font-size: 1.4rem;
	font-weight: 500;
	color: var(--text-sidebar);
}

.sidebar:hover .logo-small {
	display: none;
}

.logo-small {
	color: var(--bg-primary);
	align-items: center;
	display: flex;
	justify-content: center;
}

.nav-link svg {
	min-width: 2rem;
	max-width: 2rem;
	margin: 0 1.5rem;
}
.nav-link:hover {
	background: indianred;
}

.sidebar:hover .link-text {
	display: block;
}

.logo {
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	background: var(--text-highlight);
	font-size: 1.5rem;
	letter-spacing: 0.3ch;
	width: 100%;
}
.logo-link {
	display: flex;
	align-items: center;
	height: 5rem;
	text-decoration: none;
	transition: var(--transition-speed);
}
.logo-link:hover {
	background: indianred;
	color: var(--bg-primary);
}
.logo-big {
	color: var(--bg-primary);
	display: none;
	font: xx-large;
}
.logo-big:hover {
	display: inline;
}
.logo-small {
	display: table;
	margin: 0 auto;
	font-size: xx-large;
	text-align: center;
}

@media only screen and (min-width: 600px) {
	.logo {
		margin-bottom: 1rem;
	}
	.sidebar {
		top: 0;
		width: 5rem;
		height: 100vh;
	}
	.sidebar:hover {
		width: 16rem;
	}

	.sidebar:hover .link-text {
		display: inline;
	}
	.sidebar:hover .logo-big {
		display: table;
		margin: 0 auto;
	}
}

@media only screen and (max-width: 600px) {
	.sidebar {
		bottom: 0;
		width: 100vw;
		height: 5rem;
	}
	.logo {
		margin-bottom: 0;
	}
	.nav-item:last-child {
		display: none;
	}
	.sidebar-nav {
		flex-direction: row;
	}
	.nav-link {
		justify-content: center;
	}
}
