.s {
	padding: 1rem;
}
.grid {
	/* background: red; */
	border: 1px solid black;
	height: 70vh;
	min-height: 60vh;
	margin: 3rem;
	display: grid;
	grid-template-rows: 1fr 2fr 3fr;
	background: var(--bg-primary);
	row-gap: 1rem;
}
.title {
	text-align: center;
}
.title-text {
	color: var(--text-primary);
	text-decoration: underline;
}

.languages {
	text-align: center;
	background: chocolate;
	display: grid;
	grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
	gap: 1rem 1rem;
}
.languages > div {
	color: white;
	border: 1px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
}
.frameworks {
	text-align: center;
	background: cornflowerblue;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1.3fr;
	grid-template-rows: 1fr 1fr;
	gap: 1rem 1rem;
}
.frameworks > div {
	color: white;
	border: 1px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem 1rem;
}

.frame-text {
	grid-column: 5 / 6;
	grid-row: 1 / last;
}
