.s {
	display: flex;
	height: 80vh;
	background-color: var(--bg-secondary);
	padding: 3rem;
}
.grid {
	height: 100%;
	/* display: grid;
	grid-template-rows: 0.2fr 0.5fr 0.3fr;
	grid-template-columns: 0.25fr 0.25fr 0.25fr;
	overflow: hidden;
	row-gap: 1rem; */
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
}
.title {
	text-align: center;
	margin-bottom: 1.5rem;
}
.title-text {
	color: var(--text-highlight);
	text-decoration: underline;
}

.languages {
	text-align: center;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	column-gap: 1rem;
	grid-column: 1 / last;
}

.languages .logo-div img {
	/* margin: 1rem; */
	background-color: var(--bg-primary);
	/* border: 1px solid white; */
	object-fit: cover;
	width: 100%;
}

.frameworks {
	margin-top: 1.8rem;
	height: 40%;
	text-align: center;
	grid-column: 1 / last;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 1rem;
}
.frameworks .framework-text {
	color: var(--text-primary);
	background-color: var(--bg-primary);
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	font-size: 2rem;
	/* border: 1px solid white; */
}
