:root {
  --profile-size: 200px;
}

.header {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.introduction {
  text-align: center;
}

.social-links a {
  text-decoration: none;
  font-size: 20px;
  margin-right: 10px;
}

.social-links a:hover {
  color: #0077b5;
}

.picture-wrap {
  height: var(--profile-size);
  width: var(--profile-size);
  border-radius: 50%; /* Create a circular shape */
  overflow: hidden; /* Hide the content outside the circle */
  position: relative; /* Create a positioning context for the image */
}

.picture {
  height: var(--profile-size);
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-52%, -50%) scale(1.5);
}
