:root {
  --profile-size: 15em;
}

.header {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 1em;
  display: flex;
  flex-direction: row;
  gap: 2em;
  @media (max-width: 768px) {
    flex-direction: column; /* Change to column layout on smaller screens */
  }
}

.introduction {
  text-align: center;

  /* @media (max-width: 768px) {
    display: flex;
    flex-direction: row;
    gap: 3em;
  } */
}

.social-links a {
  text-decoration: none;
  font-size: 20px;
  margin-right: 10px;
}

.social-links a:hover {
  color: #0077b5;
}

.picture-wrap {
  height: var(--profile-size);
  width: var(--profile-size);
  border-radius: 50%; /* Create a circular shape */
  overflow: hidden; /* Hide the content outside the circle */
  position: relative; /* Create a positioning context for the image */
}

.horizontal-line {
  width: 50%;
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.picture {
  height: var(--profile-size);
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-52%, -50%) scale(1.5);
}

svg {
  fill: #d1d0c5;
  height: 24px;
  width: 24px;
}

.socials-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.hello-world {
  font-size: 4em;

  @media (max-width: 768px) {
    font-size: 2.5em;
  }
}
