:root {
  --background-color: #323437;
  /* --text-color: #eed6c5; */
  --text-color: #d1d0c5;
}

.light-mode {
  --background-color: #eed6c5;
  --text-color: #323437;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
